:root {
    --while-color: #ffff;
    --black-color: #0000;
    --brown-light-color: #f8d8a9;
    --gray-light-color: #f6ebda;
    --orange-color: #ff902a;
    --orange-light-color: #f4ae26;
    --brown-dark: #2f2105;
    --font-size-heading1: 48px;
    --font-size-heading2: 32px;
    --font-size-heading3: 24px;
    --font-size-button: 14px;
    --font-size-paragraph: 18px;
    --font-family: 'Poppins', sans-serif;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container__order {
    margin-top: 150px;
}